@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1c3d;
  color: oklch(95% 0 0);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e6c200;
}
